<h1>riff_photo upload</h1>
<%= link_to 'Add riff_photo', new_riff_photo_path =%>
<br>
<% @riff_photos.each do |riff_photo| %>
  <%= riff_photo.photo_name%>
  <br>
  <%= riff_photo.owner%>
  <br>
  <%= riff_photo.shoutout%>
  <br>
  <br>
<% end %>