<h1>riff_photo upload</h1>
<%= link_to 'Add riff_photo', new_riff_photo_path =%>
<br>
<% @riff_photos.each do |riff_photo| %>
<%= riff_photo.s3_url =%>
<br>
  <%= image_tag riff_photo.s3_url =%>
  <br>
<% end %>