<h2>Riffs Feed</h2>
<div id="bg">
  <img src="assets/all.jpg" alt="">
</div>
<ul class="allblobs">
  <li ng-repeat="blob in blobs" class="blob">
    <div ng-if=blob.pointer==null>
      <img class="avatar" src="http://www.fillmurray.com/g/200/300" alt="">
      <h3 class="shoutout">{{blob.shoutout}}</h3>
      <div class="audiowrap">
        <audio class="allaudio" controls>
          <source ng-src={{blob.url}} type="audio/mp3">
        </audio>
      </div>
    </div>
    <a href ng-click="formToggle = !formToggle"><h3>Upload Your Riff</h3></a>
      <form ng-upload="uploadComplete(content)" action="/riffblobs.json" ng-show="formToggle">
          <input type="text" name="fullname" ng-model="response.fullname" value="Riff Name:">
          <input type="hidden" name="pointer" ng-model="response.pointer" value={{blob.id}}>
          <input type="file" name="file">
          <br>
          <input type="submit" class="btn" value="Submit" >
      </form>
    <a href ng-click="commentToggle = !commentToggle"><h3>Comments</h3></a>
    <ul ng-show="commentToggle">
      <li ng-repeat="child in blob.childs">
        <h3 class="shoutout">{{child.shoutout}}</h3>
        <audio controls>
          <source ng-src={{child.url}} type="audio/mp3">
        </audio>
      </li>
    </ul>
  </li>


</ul>
