<h2>Riffs Feed</h2>
<ul>
  <li ng-repeat="riff in riffs" >
    <!-- {{riff.url}} -->
    <audio controls>
      <source ng-src={{riff.url}} type="audio/mp3">
    </audio>
  </li>
</ul>



<!-- <ul>
  <li>
    <audio controls>
      <source src='originalriff1 - 3_10_15, 9.12 PM.m4a' type='audio/mp4'>
    </audio>
    <ul>
      <li ng-repeat='riff in riffCtrl.riffs'>
        <h3>{{riff.name}}</h3>
        <audio controls>
          <source src={{riff.src}} type='audio/mp4'>
        </audio>
      </li>
    </ul>
  </li>
</ul> -->

<!-- <ul>
  <li ng-repeat="riff in RiffCtrl.riffs">
    <audio class='riff' ng-source={{riff.file}} controls autoplay></audio>
  </li>
</ul> -->
