<div id="bg1">
  <img src="assets/upload.jpg" alt="">
</div>
<h1>riff</h1>
<button class="record" ng-init="show = true" ng-show="show" ng-click="show=!show; myStyle={color:red}"></button>
<button class="onAir" ng-style="myStyle">ON AIR</button>
<img id="mic" src="assets/Untitled.png" alt="" ng-show="!show">

<div class="upload">
  <h2>Upload Your Riff</h2>

  <form class="uploadRiff" ng-upload="uploadComplete(content)" action="/riffblobs.json">
      <span>Name Your Riff:</span><input type="text" name="fullname" ng-model="response.fullname">
      <input type="file" name="file">
      <input type="submit" class="btn" value="Submit" >
  </form>
</div>



  <!-- <audio ng-if="response.file" controls>
    <source ng-src={{audioUrl}} type="audio/mp3">
  </audio> -->

  <!-- <div class="alert alert-info" >
    Server Response: {{response | json}}
    Picture: {{response.file}}
  </div> -->
